<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
                Logo
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <ng-container *ngIf="signedIn$ | async">
                    <a class="navbar-item" routerLink="/signout" routerLinkActive="is-active">
                        <span class="is-size-7">Sign Out</span>
                    </a>
                </ng-container>
                <ng-container *ngIf="!(signedIn$ | async)">
                    <a class="navbar-item" routerLink="/signin" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">
                        <span class="is-size-7">Sign In</span>
                    </a>
                    <a class="navbar-item" routerLink="/signup" routerLinkActive="is-active">
                        <span class="is-size-7">Sign Up</span>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
