<h3 class="subtitle">Sign In</h3>
<div class="columns">
    <div class="column is-three-fifths">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <app-input input-type="text" label="Username" [control]="authForm.get('username')"></app-input>
            <app-input input-type="password" label="Password" [control]="authForm.get('password')"></app-input>
            <div *ngIf="authForm.errors">
                <div class="help is-danger" *ngIf="authForm.errors.noConnection">
                    No internet connection detected, failed to sign in
                </div>
                <div class="help is-danger" *ngIf="authForm.errors.credentials">
                    Invalid username or password
                </div>
                <div class="help is-danger" *ngIf="authForm.errors.unknownError">
                    Failed to sign in
                </div>
            </div>
            <div>
                <button type="submit" class="button is-light is-uppercase" [disabled]="authForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
